div.gistagramm {
    height: 200px;
    width: 30%;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-top: 20px;
}

div.coloumn {
    width: 12%;
    background: rgb(10, 187, 187);
    height: 0%;
    text-align: center;
    align-self: flex-end;
    transition: all 1s ease-out;
}

div.circle-diagram {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background: red;
    margin-left: 20%;
    margin-top: 20px;
    overflow: hidden;
}